@media screen and (min-width: 1024px) {
	.info__div-child-fondo {
    min-height: 55vh;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1500px) {
  .lg\:text-xxs {
    font-size: 0.5rem;
  }
  //home
  .home__bottom-p {
    font-size: 1.25rem;
  }

  .anticipate__collapse {
    display: grid;
    grid-template-columns: 25% 25% 25% 30%;
  }

  .collapse-object {
    margin-left: 0%;
    margin-right: 0%;
    font-size: 0.875rem;
  }

  .contenido {
    font-size: 0.75rem;
    line-height: 1.25;
    padding-bottom: 0;
  }

  .arrowAnticipate {
    width: 1.5rem;
  }

  .flotante__texto {
    font-size: 1.25rem;
  }

  .collapse__object-titulo {
    white-space: nowrap;
  }

  //contacto
  .contacto__burbuja-titulo {
    font-size: 0.75rem;
  }

  .contacto__burbuja-phone {
    width: 1.5rem;
    height: 1.5rem;
  }

  .contacto .num {
    font-size: 0.75rem !important;
  }

  .contacto h1 {
    font-size: 1rem;
  }

  .contacto #image4 {
    width: 25px;
    height: 40px;
  }

  //cubre

  .swiper-slide__last {
    padding-top: 1.25rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 3rem;
  }

  .section__header__titulo {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
  }

  .section__header__titulo__last {
    font-size: 1rem;
  }

  .wrapper__last-ul {
    font-size: 0.75rem;
  }

  .slide__link-conoce {
    font-size: 0.75rem;
  }

  .div-img-desktop {
    height: 14rem;
  }

  //noCubre
  .prevencion__main__header {
    line-height: 1;
  }

  .main__header-titulo {
    font-size: 1.125rem;
  }

  .info__modal__text {
    padding: 0.5rem;
  }

  .black__border {
    width: 8rem;
  }

  .target__tittle {
    font-size: 0.875rem;
  }

  .target__p {
    font-size: 0.875rem;
  }

  .main__dato {
    margin-right: 4rem;
  }

  .main__dato p {
    font-size: 0.75rem;
  }

  .header-titulo-first {
    margin-left: 5rem;
  }

  .preventips__anticipate-first {
    margin-top: 3rem;
  }

  .lg\:flotante {
    bottom: -1.25rem;
  }

  .tips__anticipate-parent {
    margin-top: 2rem;
  }

  .conocer__productos {
    padding-top: 1rem;
  }

  .filas__img {
    margin-bottom: 2rem;
  }

  .telefono__info-parrafo,
  .telefono__info-tittle {
    font-size: 0.875rem;
  }

  .telefono__info-parrafo {
    margin-top: 0;
  }

  .productos__header-tittle {
    padding-bottom: 1.25rem;
    font-size: 1.25rem;
  }

  .comunicate__num {
    font-size: 1rem;
  }

  .comunicate__info {
    font-size: 0.875rem;
  }

  .comunicate__img-phone {
    height: 3rem;
  }

  //Asistencia
  .info__div-child {
    min-height: 55vh;
    margin-bottom: 2rem;
  }

  .info__middle {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
  }

  .info__middle-child {
    width: 100%;
  }

  .middle-child-asist {
    line-height: 1rem;
  }

  .info__middle-tittle {
    font-size: 1.25rem;
  }

  .info__button-condicion {
    font-size: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .info__swiper-parent {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .info__principal-img {
    width: 100%;
    padding: 0.25rem;
  }

  .info__principal-tittle {
    margin: 0 0.25rem 0 0;
    font-size: 1.25rem;
  }

  .info__header {
    width: 35%;
  }

  .bullets-parent {
    font-size: 1rem;
  }

  .info__swiper__numero {
    font-size: 1.5rem;
  }

  .info h2 {
    font-size: 0.875rem;
  }

  .info__left-text {
    font-size: 3rem;
  }

  .info__left-title {
    font-size: 1.25rem;
  }

  //contacto
  .contacto__burbuja {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .contacto__burbuja-parent {
    padding: 0;
  }

  .contacto__email {
    font-size: 10pt;
  }

  .goTop {
    height: 48px;
    width: 48px;
  }

  //footer
  .footer {
    height: 20vh;
  }
}
